{% extends 'base.html.twig' %}
{% block title %}Edit user{% endblock %}

{% block body %}
    <h1>Edit user</h1>
    {{ form(form )}}


    <a href="{{ path('api') }}" class="btn btn-primary">back to list</a>

{% endblock %}